/* Submit buttons bootstrap-like "split dropdown button"*/
.btn-dropdowns-split {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}
.btn-dropdowns-split button {
    cursor: pointer;
    padding: 4px 17px;
    margin-bottom: 1em;
    margin-right: 1em; /* LTR */
    color: #5a5a5a;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande", Verdana, sans-serif;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    background: url(images/buttons.png) 0 0 repeat-x;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    float: left;
    position: relative;
}
.btn-dropdowns-split button:active,
.btn-dropdowns-split.open .btn-dropdown-toggle{
    background: #666;
    color: #fff;
    border-color: #555;
    text-shadow: #222 0 -1px 0;
}
.btn-dropdowns-split .btn-default {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}
.btn-dropdowns-split .btn-dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    padding-right: 10px;
    padding-left: 10px;
}
.btn-dropdowns-split .btn-dropdown-toggle .caret {
    display: inline-block;
    width: 0;
    height: 0;
    /*margin-left: 2px;*/
    vertical-align: middle;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.btn-dropdowns-split .dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    top: 30px;
    margin: 0;
}
.btn-dropdowns-split.open .dropdown-menu {
    display: block;
}
.btn-dropdowns-split .dropdown-menu > li > button {
    margin: 0;
    border-radius: 0;
    display: block;
    float: none;
    width: 100%;
}
/* TEST END*/
