#triage .fancy {
  display: none;
}

#triage.triage-processed .fancy {
  display: block;
}

#triage.triage-processed .accessible {
  /*display: none;*/
}

#triage .triage-admin-links {
  display: block;
  margin: -20px 0 0 20px;
  overflow: auto;
}
